<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>魏研究室 | 千葉工業大学</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>

    <div id="header-placeholder"></div>

    <section class="hero" style="height: 50vh;">
        <div class="container">
            <h1>各ページのタイトル</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <p>ここに詳細な文章を書きます...</p>
        </div>
    </section>
    <div id="footer-placeholder"></div>

    <script src="include.js"></script>
</body>
</html>